body {
  font-family: Courier, monospace;
  background-color: #ffffff;
  color: #000000;
  margin: 40px;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

a {
  color: #0000EE;
  text-decoration: underline;
}

hr {
  margin: 2em 0;
  border: none;
  border-top: 1px solid #000;
}
